doctype 5
html
  head
    block head
      title= title
      link(rel='stylesheet', href="/stylesheets/resetcss.css")
      link(rel='stylesheet', href="/stylesheets/style.css")
      script(src="/javascripts/jquery-2.0.3.js")
  body
    block content
